# Used cars project.

In the used car market there is a problem of mistrust:
    The car owners try to sale their car at the best price:
        Without considering its history, (liesing/car accident/neglect).
    The buyers try to get lowest price for the "new" used car,
        Usualy he can try to choose car by the car manufacturer raputation,
        check if the specific car is a good fit by ride test and mechanical test.
    Bouth saler and buyer think that the other is gaining more profit,
    and that way many possible deals do not success.
    
In our project we want to understand wich car is "best saller".

We will do so by scraping and analyzing data from "yad2.co.il" site

    yad2 - live data for cars in israel and estimated car value.

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('./data/full_car_data0105.csv', index_col=0)
data

,ad_num,company,model,price,engine,year,hand,km,eng_kind,test,current_owner,prev_owner,צבע,gearbox,trader,area,sub_area,price_list,price_list_url
0,99083538.0,ב.מ.וו,X5,NaN,1997.0,2017,2,93000,3,02/2024,0.0,6.0,אפור,0.0,0,2,גני תקווה,264300.0,https://www.yad2.co.il/price-list/sub-model/29...
1,65146899.0,ג'יפ / Jeep,גרנד צ'ירוקי,140000.0,3604.0,2017,2,95000,7,05/2023,0.0,6.0,שחור,0.0,0,2,מודיעין מכבים רעות,159500.0,https://www.yad2.co.il/price-list/sub-model/29...
2,73811682.0,ג'יפ / Jeep,רנגלר ארוך,268000.0,1995.0,2021,2,29000,7,03/2024,0.0,0.0,לבן,0.0,0,2,רמת גן,278100.0,https://www.yad2.co.il/price-list/sub-model/34...
3,77276021.0,מיצובישי,אאוטלנדר PHEV,149000.0,2360.0,2020,2,74000,3,12/2023,0.0,0.0,לבן,0.0,0,2,פתח תקווה,155500.0,https://www.yad2.co.il/price-list/sub-model/32...
4,55670284.0,שברולט,טרייל בלייזר,145000.0,1341.0,2022,1,17000,7,01/2024,0.0,0.0,שחור,0.0,0,2,רמלה,152100.0,https://www.yad2.co.il/price-list/sub-model/34...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3385,96450445.0,טויוטה,אוריס הייבריד,62000.0,1798.0,2014,3,147000,7,11/2023,0.0,0.0,לבן,0.0,0,43,באר שבע,54900.0,https://www.yad2.co.il/price-list/sub-model/27...
3386,87660871.0,פיאט,דובלו,58000.0,1598.0,2017,1,53500,6,09/2023,0.0,0.0,לבן,1.0,0,43,אופקים,-1.0,https://www.yad2.co.il/price-list/sub-model/29...
3387,69065361.0,ג'יפ / Jeep,קומפאס,230000.0,1332.0,2022,1,7000,3,11/2023,0.0,0.0,שחור,0.0,0,43,אופקים,223900.0,https://www.yad2.co.il/price-list/sub-model/37...
3388,94410775.0,מרצדס,GLB,245000.0,1332.0,2020,1,60000,7,07/2023,0.0,0.0,לבן,0.0,0,43,באר שבע,240500.0,https://www.yad2.co.il/price-list/sub-model/34...
3389,NaN,קיה,פיקנטו,55000.0,1248.0,2017,1,178000,7,05/2024,NaN,NaN,NaN,NaN,1,43,NaN,61200.0,https://www.yad2.co.il/price-list/sub-model/29...

# Locate & Remove duplicates

We will use the ad number to locate and remove duplicated data.

In [3]:
# find and visualize the duplications
print(data.duplicated(subset=['ad_num']).sum())
# visualize the duplicates:
data[data.duplicated(subset=['ad_num'], keep = False)].sort_values('ad_num')

98

,ad_num,company,model,price,engine,year,hand,km,eng_kind,test,current_owner,prev_owner,צבע,gearbox,trader,area,sub_area,price_list,price_list_url
431,41979453.0,הונדה,סיוויק סדאן החדשה,170000.0,1498.0,2022,2,10000,7,04/2024,0.0,0.0,לבן,0.0,0,2,רמלה,166900.0,https://www.yad2.co.il/price-list/sub-model/37...
435,41979453.0,הונדה,סיוויק סדאן החדשה,170000.0,1498.0,2022,2,10000,7,04/2024,0.0,0.0,לבן,0.0,0,2,רמלה,166900.0,https://www.yad2.co.il/price-list/sub-model/37...
517,42062655.0,קיה,ספורטז',57000.0,1998.0,2014,2,160000,7,10/2023,0.0,0.0,לבן,0.0,0,25,חיפה,63200.0,https://www.yad2.co.il/price-list/sub-model/27...
523,42062655.0,קיה,ספורטז',57000.0,1998.0,2014,2,160000,7,10/2023,0.0,0.0,לבן,0.0,0,25,חיפה,63200.0,https://www.yad2.co.il/price-list/sub-model/27...
1368,42675569.0,ג'יפ / Jeep,גרנד צ'ירוקי,260000.0,3604.0,2021,1,15000,7,11/2023,0.0,NaN,לבן,0.0,0,101,עפולה,270800.0,https://www.yad2.co.il/price-list/sub-model/33...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699,98893193.0,סקודה,אוקטביה,69990.0,1395.0,2017,1,154000,7,01/2024,0.0,0.0,חום,0.0,0,25,ירכא,-1.0,https://www.yad2.co.il/price-list/sub-model/27...
1042,99071409.0,קאדילק,SRX,79000.0,3564.0,2014,2,99000,7,03/2024,0.0,0.0,בז',0.0,0,19,הרצליה,89300.0,https://www.yad2.co.il/price-list/sub-model/26...
1047,99071409.0,קאדילק,SRX,79000.0,3564.0,2014,2,99000,7,03/2024,0.0,0.0,בז',0.0,0,19,הרצליה,89300.0,https://www.yad2.co.il/price-list/sub-model/26...
811,99663198.0,רנו,מגאן גראנד קופה,95000.0,1461.0,2020,1,150000,6,01/2024,0.0,NaN,לבן,0.0,0,25,דייר אל אסד,90400.0,https://www.yad2.co.il/price-list/sub-model/32...
802,99663198.0,רנו,מגאן גראנד קופה,95000.0,1461.0,2020,1,150000,6,01/2024,0.0,0.0,לבן,0.0,0,25,דייר אל אסד,90400.0,https://www.yad2.co.il/price-list/sub-model/32...

In [4]:
# remove duplicates.
data = data.drop_duplicates(subset='ad_num').copy()
data

,ad_num,company,model,price,engine,year,hand,km,eng_kind,test,current_owner,prev_owner,צבע,gearbox,trader,area,sub_area,price_list,price_list_url
0,99083538.0,ב.מ.וו,X5,NaN,1997.0,2017,2,93000,3,02/2024,0.0,6.0,אפור,0.0,0,2,גני תקווה,264300.0,https://www.yad2.co.il/price-list/sub-model/29...
1,65146899.0,ג'יפ / Jeep,גרנד צ'ירוקי,140000.0,3604.0,2017,2,95000,7,05/2023,0.0,6.0,שחור,0.0,0,2,מודיעין מכבים רעות,159500.0,https://www.yad2.co.il/price-list/sub-model/29...
2,73811682.0,ג'יפ / Jeep,רנגלר ארוך,268000.0,1995.0,2021,2,29000,7,03/2024,0.0,0.0,לבן,0.0,0,2,רמת גן,278100.0,https://www.yad2.co.il/price-list/sub-model/34...
3,77276021.0,מיצובישי,אאוטלנדר PHEV,149000.0,2360.0,2020,2,74000,3,12/2023,0.0,0.0,לבן,0.0,0,2,פתח תקווה,155500.0,https://www.yad2.co.il/price-list/sub-model/32...
4,55670284.0,שברולט,טרייל בלייזר,145000.0,1341.0,2022,1,17000,7,01/2024,0.0,0.0,שחור,0.0,0,2,רמלה,152100.0,https://www.yad2.co.il/price-list/sub-model/34...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3385,96450445.0,טויוטה,אוריס הייבריד,62000.0,1798.0,2014,3,147000,7,11/2023,0.0,0.0,לבן,0.0,0,43,באר שבע,54900.0,https://www.yad2.co.il/price-list/sub-model/27...
3386,87660871.0,פיאט,דובלו,58000.0,1598.0,2017,1,53500,6,09/2023,0.0,0.0,לבן,1.0,0,43,אופקים,-1.0,https://www.yad2.co.il/price-list/sub-model/29...
3387,69065361.0,ג'יפ / Jeep,קומפאס,230000.0,1332.0,2022,1,7000,3,11/2023,0.0,0.0,שחור,0.0,0,43,אופקים,223900.0,https://www.yad2.co.il/price-list/sub-model/37...
3388,94410775.0,מרצדס,GLB,245000.0,1332.0,2020,1,60000,7,07/2023,0.0,0.0,לבן,0.0,0,43,באר שבע,240500.0,https://www.yad2.co.il/price-list/sub-model/34...
3389,NaN,קיה,פיקנטו,55000.0,1248.0,2017,1,178000,7,05/2024,NaN,NaN,NaN,NaN,1,43,NaN,61200.0,https://www.yad2.co.il/price-list/sub-model/29...

In [5]:
# check the data
data.count()

ad_num            3291
company           3292
model             3292
price             3028
engine            3185
year              3292
hand              3292
km                3292
eng_kind          3292
test              3284
current_owner     3291
prev_owner        3190
צבע               3286
gearbox           3291
trader            3292
area              3292
sub_area          3291
price_list        3292
price_list_url    3292
dtype: int64

# Delete unnecessary column price_list_url

This column was important to scrap the price list after first data scrap of ads.

Now the URL's are not necessary and might disturb the process of machine learning.

In [6]:
data = data.drop(columns=['price_list_url']).copy()
data

,ad_num,company,model,price,engine,year,hand,km,eng_kind,test,current_owner,prev_owner,צבע,gearbox,trader,area,sub_area,price_list
0,99083538.0,ב.מ.וו,X5,NaN,1997.0,2017,2,93000,3,02/2024,0.0,6.0,אפור,0.0,0,2,גני תקווה,264300.0
1,65146899.0,ג'יפ / Jeep,גרנד צ'ירוקי,140000.0,3604.0,2017,2,95000,7,05/2023,0.0,6.0,שחור,0.0,0,2,מודיעין מכבים רעות,159500.0
2,73811682.0,ג'יפ / Jeep,רנגלר ארוך,268000.0,1995.0,2021,2,29000,7,03/2024,0.0,0.0,לבן,0.0,0,2,רמת גן,278100.0
3,77276021.0,מיצובישי,אאוטלנדר PHEV,149000.0,2360.0,2020,2,74000,3,12/2023,0.0,0.0,לבן,0.0,0,2,פתח תקווה,155500.0
4,55670284.0,שברולט,טרייל בלייזר,145000.0,1341.0,2022,1,17000,7,01/2024,0.0,0.0,שחור,0.0,0,2,רמלה,152100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3385,96450445.0,טויוטה,אוריס הייבריד,62000.0,1798.0,2014,3,147000,7,11/2023,0.0,0.0,לבן,0.0,0,43,באר שבע,54900.0
3386,87660871.0,פיאט,דובלו,58000.0,1598.0,2017,1,53500,6,09/2023,0.0,0.0,לבן,1.0,0,43,אופקים,-1.0
3387,69065361.0,ג'יפ / Jeep,קומפאס,230000.0,1332.0,2022,1,7000,3,11/2023,0.0,0.0,שחור,0.0,0,43,אופקים,223900.0
3388,94410775.0,מרצדס,GLB,245000.0,1332.0,2020,1,60000,7,07/2023,0.0,0.0,לבן,0.0,0,43,באר שבע,240500.0
3389,NaN,קיה,פיקנטו,55000.0,1248.0,2017,1,178000,7,05/2024,NaN,NaN,NaN,NaN,1,43,NaN,61200.0

# No engine capacity Outliers

Check for rows without engine capacity.

In [7]:
no_engine = data[data.engine.isnull()]
no_engine.eng_kind.describe()

count    107.000000
mean       2.065421
std        0.418240
min        2.000000
25%        2.000000
50%        2.000000
75%        2.000000
max        6.000000
Name: eng_kind, dtype: float64

from the upper section we can see that the data rows without engine capacity are mostly electric.

we started from the engine capacity because during the scraping process,
we got many errors involving 'engine' and now it is clear why it was.
(electric car do not have engine fuel capacity)


eng_kind encodeing:


gas = 0, 
hybrid elc/diesel = 1, 
electric = 2, 
hybrid elc/benzine = 3, 
gas/benzine = 4, 
turbo diesel = 5, 
diesel = 6, 
benzine = 7

In [8]:
no_engine.loc[no_engine.eng_kind != 2]

,ad_num,company,model,price,engine,year,hand,km,eng_kind,test,current_owner,prev_owner,צבע,gearbox,trader,area,sub_area,price_list
684,77738432.0,מרצדס,אטגו,260000.0,NaN,2022,1,50000,6,05/2023,0.0,NaN,לבן,0.0,0,25,נצרת,-1.0
2215,87637700.0,בי.ווי.די / BYD,אטו 3 / ATTO 3,153000.0,NaN,2023,2,5000,3,01/2026,0.0,0.0,אפור,0.0,0,100,ירושלים,158200.0
2534,79756571.0,בי.ווי.די / BYD,אטו 3 / ATTO 3,150000.0,NaN,2023,1,18000,3,01/2026,0.0,0.0,אפור,0.0,0,41,ניצן ב',158200.0
3247,83622401.0,בי.ווי.די / BYD,אטו 3 / ATTO 3,160000.0,NaN,2023,2,4800,3,01/2024,0.0,0.0,לבן,0.0,0,43,אוהד,175400.0

1. we can see that 3 cars without engine capacity are hybride, and from some reason it failed to retrieve the data for those specific cars.

1.1. after quick manual chack it seem that BYD in yad2 are mostly without engin capacity.

1.2. we tried to find another BYD in our data to copy the engine capacity from.
did not found another. decided to delete those rows, because of the lack for the engine value, and because this is a new manufectorer that have only 3 cars in the data set.

1.3 the other car have no price list, therefor will be deleted as well.

# Outliers deleted

In [9]:
# delete all rows that no engin capacity and not electric.
data = data[~ ((data.eng_kind != 2) & (data.engine.isnull()))].copy()
data

,ad_num,company,model,price,engine,year,hand,km,eng_kind,test,current_owner,prev_owner,צבע,gearbox,trader,area,sub_area,price_list
0,99083538.0,ב.מ.וו,X5,NaN,1997.0,2017,2,93000,3,02/2024,0.0,6.0,אפור,0.0,0,2,גני תקווה,264300.0
1,65146899.0,ג'יפ / Jeep,גרנד צ'ירוקי,140000.0,3604.0,2017,2,95000,7,05/2023,0.0,6.0,שחור,0.0,0,2,מודיעין מכבים רעות,159500.0
2,73811682.0,ג'יפ / Jeep,רנגלר ארוך,268000.0,1995.0,2021,2,29000,7,03/2024,0.0,0.0,לבן,0.0,0,2,רמת גן,278100.0
3,77276021.0,מיצובישי,אאוטלנדר PHEV,149000.0,2360.0,2020,2,74000,3,12/2023,0.0,0.0,לבן,0.0,0,2,פתח תקווה,155500.0
4,55670284.0,שברולט,טרייל בלייזר,145000.0,1341.0,2022,1,17000,7,01/2024,0.0,0.0,שחור,0.0,0,2,רמלה,152100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3385,96450445.0,טויוטה,אוריס הייבריד,62000.0,1798.0,2014,3,147000,7,11/2023,0.0,0.0,לבן,0.0,0,43,באר שבע,54900.0
3386,87660871.0,פיאט,דובלו,58000.0,1598.0,2017,1,53500,6,09/2023,0.0,0.0,לבן,1.0,0,43,אופקים,-1.0
3387,69065361.0,ג'יפ / Jeep,קומפאס,230000.0,1332.0,2022,1,7000,3,11/2023,0.0,0.0,שחור,0.0,0,43,אופקים,223900.0
3388,94410775.0,מרצדס,GLB,245000.0,1332.0,2020,1,60000,7,07/2023,0.0,0.0,לבן,0.0,0,43,באר שבע,240500.0
3389,NaN,קיה,פיקנטו,55000.0,1248.0,2017,1,178000,7,05/2024,NaN,NaN,NaN,NaN,1,43,NaN,61200.0

# Fill in the electric cars engine capacity

fill the engine capacity with 0.

In [10]:
# get the electric car indexes
indexes = data[data.eng_kind == 2].index.to_list()
# iterate through the indexes and insert 0 to it.
for index in indexes:
    data.engine.at[index] = 0
# print for check
data.engine.isnull().sum()

0

# Ad number Outliers

delete all the rows without ad number, because we will not be able to fit future data scrap to it. (like date and change in price)
(one row deleted)

In [11]:
# delete ad_num = none
data = data[~data.ad_num.isnull()].copy()
data

,ad_num,company,model,price,engine,year,hand,km,eng_kind,test,current_owner,prev_owner,צבע,gearbox,trader,area,sub_area,price_list
0,99083538.0,ב.מ.וו,X5,NaN,1997.0,2017,2,93000,3,02/2024,0.0,6.0,אפור,0.0,0,2,גני תקווה,264300.0
1,65146899.0,ג'יפ / Jeep,גרנד צ'ירוקי,140000.0,3604.0,2017,2,95000,7,05/2023,0.0,6.0,שחור,0.0,0,2,מודיעין מכבים רעות,159500.0
2,73811682.0,ג'יפ / Jeep,רנגלר ארוך,268000.0,1995.0,2021,2,29000,7,03/2024,0.0,0.0,לבן,0.0,0,2,רמת גן,278100.0
3,77276021.0,מיצובישי,אאוטלנדר PHEV,149000.0,2360.0,2020,2,74000,3,12/2023,0.0,0.0,לבן,0.0,0,2,פתח תקווה,155500.0
4,55670284.0,שברולט,טרייל בלייזר,145000.0,1341.0,2022,1,17000,7,01/2024,0.0,0.0,שחור,0.0,0,2,רמלה,152100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3384,61230592.0,מאזדה,3,15000.0,1598.0,2009,3,300000,7,10/2023,0.0,2.0,אפור,0.0,0,43,ירוחם,12700.0
3385,96450445.0,טויוטה,אוריס הייבריד,62000.0,1798.0,2014,3,147000,7,11/2023,0.0,0.0,לבן,0.0,0,43,באר שבע,54900.0
3386,87660871.0,פיאט,דובלו,58000.0,1598.0,2017,1,53500,6,09/2023,0.0,0.0,לבן,1.0,0,43,אופקים,-1.0
3387,69065361.0,ג'יפ / Jeep,קומפאס,230000.0,1332.0,2022,1,7000,3,11/2023,0.0,0.0,שחור,0.0,0,43,אופקים,223900.0
3388,94410775.0,מרצדס,GLB,245000.0,1332.0,2020,1,60000,7,07/2023,0.0,0.0,לבן,0.0,0,43,באר שבע,240500.0

# price outliers

every data row without price is an outlier.

    most likely thet traders do not write price.
    or this is a seller that seek for price for his car.

In [12]:
# find data whithout price
priceless_data = data[data.price.isnull()]
priceless_data

,ad_num,company,model,price,engine,year,hand,km,eng_kind,test,current_owner,prev_owner,צבע,gearbox,trader,area,sub_area,price_list
0,99083538.0,ב.מ.וו,X5,NaN,1997.0,2017,2,93000,3,02/2024,0.0,6.0,אפור,0.0,0,2,גני תקווה,264300.0
23,51845787.0,לנד רובר,ריינג' רובר ספורט,NaN,1997.0,2020,1,69000,3,12/2023,0.0,0.0,לבן,0.0,0,2,סביון,347800.0
26,46502111.0,טויוטה,לנד קרוזר ארוך,NaN,2982.0,2011,2,184000,6,05/2023,0.0,9.0,כסף,0.0,0,2,תל אביב יפו,185300.0
46,86590023.0,טויוטה,RAV4 הייבריד,NaN,2494.0,2017,2,75000,7,07/2023,0.0,0.0,לבן,0.0,0,2,תל אביב יפו,130600.0
55,59081962.0,קיה,ספורטז',NaN,1591.0,2019,1,99000,7,06/2023,0.0,NaN,לבן,0.0,0,2,תל אביב יפו,124800.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3286,44509805.0,פיג'ו,3008,NaN,1499.0,2019,1,70000,6,02/2024,0.0,2.0,שחור,0.0,0,43,להבים,119500.0
3309,55468031.0,מיצובישי,אאוטלנדר,NaN,1998.0,2016,3,83000,7,01/2024,0.0,0.0,לבן,0.0,0,43,אופקים,94900.0
3314,99248182.0,ניסאן,סנטרה,NaN,1997.0,2021,2,15000,7,01/2024,0.0,1.0,כסוף,0.0,0,43,ירוחם,111000.0
3342,72724532.0,איסוזו,4X4 D-MAX,NaN,2499.0,2016,1,220000,6,04/2023,0.0,0.0,לבן,0.0,0,43,תלמי אליהו,139200.0
3364,69659441.0,ג'יפ / Jeep,רנגלר ארוך,NaN,3604.0,2021,2,28000,7,07/2023,0.0,0.0,אפור,0.0,0,43,באר שבע,425200.0

the price section will be critical for the next process of information processing.

we can simply delet it because even after the data will be deleted, the amount of data will still be efficient (more then 50k date cells)

# delete the priceless outliers

In [13]:
data = data[~data.price.isnull()].copy()
data

,ad_num,company,model,price,engine,year,hand,km,eng_kind,test,current_owner,prev_owner,צבע,gearbox,trader,area,sub_area,price_list
1,65146899.0,ג'יפ / Jeep,גרנד צ'ירוקי,140000.0,3604.0,2017,2,95000,7,05/2023,0.0,6.0,שחור,0.0,0,2,מודיעין מכבים רעות,159500.0
2,73811682.0,ג'יפ / Jeep,רנגלר ארוך,268000.0,1995.0,2021,2,29000,7,03/2024,0.0,0.0,לבן,0.0,0,2,רמת גן,278100.0
3,77276021.0,מיצובישי,אאוטלנדר PHEV,149000.0,2360.0,2020,2,74000,3,12/2023,0.0,0.0,לבן,0.0,0,2,פתח תקווה,155500.0
4,55670284.0,שברולט,טרייל בלייזר,145000.0,1341.0,2022,1,17000,7,01/2024,0.0,0.0,שחור,0.0,0,2,רמלה,152100.0
5,93516523.0,וולוו,XC60,250000.0,1969.0,2022,2,30000,7,01/2024,0.0,0.0,אפור,0.0,0,2,פתח תקווה,274700.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3384,61230592.0,מאזדה,3,15000.0,1598.0,2009,3,300000,7,10/2023,0.0,2.0,אפור,0.0,0,43,ירוחם,12700.0
3385,96450445.0,טויוטה,אוריס הייבריד,62000.0,1798.0,2014,3,147000,7,11/2023,0.0,0.0,לבן,0.0,0,43,באר שבע,54900.0
3386,87660871.0,פיאט,דובלו,58000.0,1598.0,2017,1,53500,6,09/2023,0.0,0.0,לבן,1.0,0,43,אופקים,-1.0
3387,69065361.0,ג'יפ / Jeep,קומפאס,230000.0,1332.0,2022,1,7000,3,11/2023,0.0,0.0,שחור,0.0,0,43,אופקים,223900.0
3388,94410775.0,מרצדס,GLB,245000.0,1332.0,2020,1,60000,7,07/2023,0.0,0.0,לבן,0.0,0,43,באר שבע,240500.0

# price outliers deleted

after deletion we still have above 50k data cells remained

In [14]:
# check for more information
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3023 entries, 1 to 3388
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ad_num         3023 non-null   float64
 1   company        3023 non-null   object
 2   model          3023 non-null   object
 3   price          3023 non-null   float64
 4   engine         3023 non-null   float64
 5   year           3023 non-null   int64
 6   hand           3023 non-null   int64
 7   km             3023 non-null   int64
 8   eng_kind       3023 non-null   int64
 9   test           3015 non-null   object
 10  current_owner  3023 non-null   float64
 11  prev_owner     2932 non-null   float64
 12  צבע            3018 non-null   object
 13  gearbox        3023 non-null   float64
 14  trader         3023 non-null   int64
 15  area           3023 non-null   int64
 16  sub_area       3023 non-null   object
 17  price_list     3023 non-null   float64
dtypes: float64(7), int64(6), object(5)
memory usage: 448.7+ KB

# Check the previous owner for outliers.

the criteria for outliers is if there is no previous owner, and the hand is above 1.

if there is a row wich meet the criteria - it is a logical error.

becouse it cannot be that there is no previous owner while the car is allready second handed or higher.

In [15]:
# check the previouse owner
data[(data.prev_owner.isnull()) & (data.hand > 1)]

Empty DataFrame
Columns: [ad_num, company, model, price, engine, year, hand, km, eng_kind, test, current_owner, prev_owner, צבע, gearbox, trader, area, sub_area, price_list]
Index: []

# No outliers were found - all the missing values indicates first hand car.


# decided to add code 9 to all the rows without prev_owner.

In [16]:
# get the empty prev_owner indexes
indexes = data[data.prev_owner.isnull()].index.to_list()
# insert code 9
for index in indexes:
    data.at[index,'prev_owner'] = 9
# print again the prev_owner.isnull() for check.(if empty - success)
data[data.prev_owner.isnull()]

Empty DataFrame
Columns: [ad_num, company, model, price, engine, year, hand, km, eng_kind, test, current_owner, prev_owner, צבע, gearbox, trader, area, sub_area, price_list]
Index: []

# color handle

we decided that the missing car color will get the most frequent color.

In [17]:
# describe the color series to visualize the frequent value
print(data['צבע'].describe())
# get list of non color rows
indexes = data[data['צבע'].isnull()].index.to_list()
# get the frequent value to variable
color_mode = data['צבע'].mode
# insert it to the non color rows.
for index in indexes:
    data.at[index,'צבע'] = color_mode

# finaly check that there are no non color rows.
data['צבע'].isnull().sum()

count     3018
unique      25
top        לבן
freq      1141
Name: צבע, dtype: object

0

# Encode colors and change the color title to english

In [18]:
# rename data col
data.rename(columns = {'צבע':'color'}, inplace=True)

In [19]:
# inspect the color series values
color_list = data.color.value_counts().to_dict()
color_list

{'לבן': 1141,
 'שחור': 541,
 'אפור': 522,
 'כסוף': 319,
 'כחול': 165,
 'אדום': 47,
 'כסף': 40,
 'ברונזה': 40,
 "בז'": 35,
 'חום': 31,
 'ירוק': 25,
 'פלטינה': 18,
 'בורדו': 17,
 'תכלת': 15,
 'כתום': 14,
 'זהב': 11,
 'טורקיז': 11,
 <bound method Series.mode of 1       שחור
 2        לבן
 3        לבן
 4       שחור
 5       אפור
         ...
 3384    אפור
 3385     לבן
 3386     לבן
 3387    שחור
 3388     לבן
 Name: צבע, Length: 3023, dtype: object>: 5,
 'שמפניה': 5,
 'צהוב': 5,
 'ורוד': 5,
 'קרם': 3,
 'סגול': 3,
 'טוניק': 2,
 'ירקרק': 2,
 'חרדל': 1}

# Encode colors from 0 to 24

In [20]:
color_enc = {'לבן': 0,
             'שחור': 1,
             'אפור': 2,
             'כסוף': 3,
             'כחול': 4,
             'אדום': 5,
             'כסף': 6,
             'ברונזה': 7,
             "בז'": 8,
             'חום': 9,
             'ירוק': 10,
             'פלטינה': 11,
             'בורדו': 12,
             'תכלת': 13,
             'כתום': 14,
             'זהב': 15,
             'טורקיז': 16,
             'שמפניה': 17,
             'צהוב': 18,
             'ורוד': 19,
             'קרם': 20,
             'סגול': 21,
             'טוניק': 22,
             'ירקרק': 23,
             'חרדל': 24}
for color in color_enc.keys():
    data.loc[data[data.color == color].index.to_list(),['color']] = color_enc[color]
data

,ad_num,company,model,price,engine,year,hand,km,eng_kind,test,current_owner,prev_owner,color,gearbox,trader,area,sub_area,price_list
1,65146899.0,ג'יפ / Jeep,גרנד צ'ירוקי,140000.0,3604.0,2017,2,95000,7,05/2023,0.0,6.0,1,0.0,0,2,מודיעין מכבים רעות,159500.0
2,73811682.0,ג'יפ / Jeep,רנגלר ארוך,268000.0,1995.0,2021,2,29000,7,03/2024,0.0,0.0,0,0.0,0,2,רמת גן,278100.0
3,77276021.0,מיצובישי,אאוטלנדר PHEV,149000.0,2360.0,2020,2,74000,3,12/2023,0.0,0.0,0,0.0,0,2,פתח תקווה,155500.0
4,55670284.0,שברולט,טרייל בלייזר,145000.0,1341.0,2022,1,17000,7,01/2024,0.0,0.0,1,0.0,0,2,רמלה,152100.0
5,93516523.0,וולוו,XC60,250000.0,1969.0,2022,2,30000,7,01/2024,0.0,0.0,2,0.0,0,2,פתח תקווה,274700.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3384,61230592.0,מאזדה,3,15000.0,1598.0,2009,3,300000,7,10/2023,0.0,2.0,2,0.0,0,43,ירוחם,12700.0
3385,96450445.0,טויוטה,אוריס הייבריד,62000.0,1798.0,2014,3,147000,7,11/2023,0.0,0.0,0,0.0,0,43,באר שבע,54900.0
3386,87660871.0,פיאט,דובלו,58000.0,1598.0,2017,1,53500,6,09/2023,0.0,0.0,0,1.0,0,43,אופקים,-1.0
3387,69065361.0,ג'יפ / Jeep,קומפאס,230000.0,1332.0,2022,1,7000,3,11/2023,0.0,0.0,1,0.0,0,43,אופקים,223900.0
3388,94410775.0,מרצדס,GLB,245000.0,1332.0,2020,1,60000,7,07/2023,0.0,0.0,0,0.0,0,43,באר שבע,240500.0

In [21]:
# exploring colors again for self test
color_list = data.color.value_counts().to_dict()
color_list

{0: 1141,
 1: 541,
 2: 522,
 3: 319,
 4: 165,
 5: 47,
 6: 40,
 7: 40,
 8: 35,
 9: 31,
 10: 25,
 11: 18,
 12: 17,
 13: 15,
 14: 14,
 15: 11,
 16: 11,
 <bound method Series.mode of 1       1
 2       0
 3       0
 4       1
 5       2
        ..
 3384    2
 3385    0
 3386    0
 3387    1
 3388    0
 Name: צבע, Length: 3023, dtype: object>: 5,
 17: 5,
 18: 5,
 19: 5,
 20: 3,
 21: 3,
 22: 2,
 23: 2,
 24: 1}

# Test Date Outliers

We asume every row without test date are outliers.

It might be a traider or someone unreliable.

This is an important parameter for car choice - if the test date is valid.

In [22]:
data[data.test.isnull()]

,ad_num,company,model,price,engine,year,hand,km,eng_kind,test,current_owner,prev_owner,color,gearbox,trader,area,sub_area,price_list
270,63267603.0,פיג'ו,2008,145000.0,0.0,2021,1,20400,2,NaN,0.0,9.0,0,0.0,0,2,חולון,141300.0
972,94751112.0,דאצ'יה,דאסטר החדש,87000.0,1461.0,2019,2,55000,6,NaN,0.0,0.0,0,1.0,0,19,הרצליה,82800.0
1116,49632739.0,טויוטה,קאמרי,91000.0,2494.0,2016,1,99600,7,NaN,0.0,9.0,0,0.0,0,19,הרצליה,85900.0
1117,83761525.0,טויוטה,קורולה הייבריד,134000.0,1798.0,2021,2,20000,7,NaN,0.0,0.0,0,0.0,0,19,נתניה,129800.0
2178,68431375.0,אופל,קורסה,13000.0,1229.0,2012,3,155000,7,NaN,0.0,0.0,1,1.0,0,100,ירושלים,12900.0
2214,74030216.0,קרייזלר,גראנד וויאג'ר,25000.0,3604.0,2012,2,220000,7,NaN,0.0,0.0,1,0.0,0,100,ירושלים,50600.0
2448,91006867.0,מרצדס,B-Class Taxi,25000.0,2143.0,2017,3,300000,6,NaN,4.0,4.0,0,1.0,0,41,אשקלון,58100.0
3024,73965660.0,הונדה,אינסייט,30000.0,1339.0,2014,4,240000,7,NaN,0.0,1.0,2,0.0,0,75,גבעת זאב,33700.0

as we can see there are not many of the rows without test.

# We will delete rows without test date

In [23]:
# delete non test date rows
data = data[~data.test.isnull()].copy()
# check deletion
data

,ad_num,company,model,price,engine,year,hand,km,eng_kind,test,current_owner,prev_owner,color,gearbox,trader,area,sub_area,price_list
1,65146899.0,ג'יפ / Jeep,גרנד צ'ירוקי,140000.0,3604.0,2017,2,95000,7,05/2023,0.0,6.0,1,0.0,0,2,מודיעין מכבים רעות,159500.0
2,73811682.0,ג'יפ / Jeep,רנגלר ארוך,268000.0,1995.0,2021,2,29000,7,03/2024,0.0,0.0,0,0.0,0,2,רמת גן,278100.0
3,77276021.0,מיצובישי,אאוטלנדר PHEV,149000.0,2360.0,2020,2,74000,3,12/2023,0.0,0.0,0,0.0,0,2,פתח תקווה,155500.0
4,55670284.0,שברולט,טרייל בלייזר,145000.0,1341.0,2022,1,17000,7,01/2024,0.0,0.0,1,0.0,0,2,רמלה,152100.0
5,93516523.0,וולוו,XC60,250000.0,1969.0,2022,2,30000,7,01/2024,0.0,0.0,2,0.0,0,2,פתח תקווה,274700.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3384,61230592.0,מאזדה,3,15000.0,1598.0,2009,3,300000,7,10/2023,0.0,2.0,2,0.0,0,43,ירוחם,12700.0
3385,96450445.0,טויוטה,אוריס הייבריד,62000.0,1798.0,2014,3,147000,7,11/2023,0.0,0.0,0,0.0,0,43,באר שבע,54900.0
3386,87660871.0,פיאט,דובלו,58000.0,1598.0,2017,1,53500,6,09/2023,0.0,0.0,0,1.0,0,43,אופקים,-1.0
3387,69065361.0,ג'יפ / Jeep,קומפאס,230000.0,1332.0,2022,1,7000,3,11/2023,0.0,0.0,1,0.0,0,43,אופקים,223900.0
3388,94410775.0,מרצדס,GLB,245000.0,1332.0,2020,1,60000,7,07/2023,0.0,0.0,0,0.0,0,43,באר שבע,240500.0

# check for non gearbox outliers

In [24]:
# check for non gear data
non_gear = data[data.gearbox.isnull()]
non_gear

Empty DataFrame
Columns: [ad_num, company, model, price, engine, year, hand, km, eng_kind, test, current_owner, prev_owner, color, gearbox, trader, area, sub_area, price_list]
Index: []

# first data run

found mistake in the scrapping code, missed one character in the encoding function in the manual gear encode.
as a result, there was not any encoding for the manual gear and it was None value.

# fixed it in file data_first_scrap.py

curent run is allready fixed

In [25]:
#data check
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3015 entries, 1 to 3388
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ad_num         3015 non-null   float64
 1   company        3015 non-null   object
 2   model          3015 non-null   object
 3   price          3015 non-null   float64
 4   engine         3015 non-null   float64
 5   year           3015 non-null   int64
 6   hand           3015 non-null   int64
 7   km             3015 non-null   int64
 8   eng_kind       3015 non-null   int64
 9   test           3015 non-null   object
 10  current_owner  3015 non-null   float64
 11  prev_owner     3015 non-null   float64
 12  color          3015 non-null   object
 13  gearbox        3015 non-null   float64
 14  trader         3015 non-null   int64
 15  area           3015 non-null   int64
 16  sub_area       3015 non-null   object
 17  price_list     3015 non-null   float64
dtypes: float64(7), int64(6), object(5)
memory usage: 447.5+ KB

# Ready to work on the data

We can see that the data is now full

we will export it to csv file

In [26]:
data.to_csv('./data/clean_data0105.csv', encoding="utf-8")